
html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    border: inherit;
    padding: inherit;
    margin: inherit;
}